.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: #E74C3C;
    
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #F9EBB2;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 60%;
    align-items: center;
    display: flex;
    margin-top: 50px;
    margin-left: 18%;
    background-color: #F9EBB2;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 30px;

    border-radius: 15px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
  }